<h4>Your solution has <%= @steps %> steps</h4>
<div class="cube_display" style="width: 30%; padding-left:35%">
  <div class="roofpig" style="border-style: none" data-config="<%= @cube_params %>">
  </div>
</div>
<p>
  <%= link_to 'Movements Notation', 'https://ruwix.com/the-rubiks-cube/notation/', target: '_blank' %>
</p>
<p>
  <%= link_to 'Solve a new one', root_path %>
</p>
