option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-0143354f95c79eab6

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-0541953f4b9688056

  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-0541953f4b9688056

  - namespace: aws:ec2:vpc
    option_name: DBSubnets
    value: subnet-fg148g78

  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: m1.small
